<div class="bg-[#E31B23] text-white py-2 overflow-hidden border-b border-white/20 relative z-40">
  <div class="whitespace-nowrap animate-marquee inline-block font-bold text-sm uppercase tracking-wider">
    ★ NEW LISTING: 50-Acre Ranch in Hill Country &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
    ★ MARKET UPDATE: Texas property values up 5% this month! &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
    ★ JOIN US: Open House this Sunday in Dallas! &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>
